<div class="row ml-2">
  <div class="col-2">
    <ul class="nav flex-column nav-pills"
        id="myTab"
        role="tablist">
      <% Structure.find_each do |s| %>
        <li class="nav-item">
          <a class="nav-link <%= s == Structure.first ? 'active' : '' %>"
             id="structure-<%= s.id.to_s %>-pill"
             data-toggle="pill"
             href="#structure-<%= s.id.to_s %>"
             role="pill">
            <%= s.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-10">
    <div class="tab-content">
      <% Structure.find_each do |s| %>
        <div class="tab-pane <%= s == Structure.first ? 'active' : '' %>"
             id="structure-<%= s.id.to_s %>"
             role="tabpanel"
             aria-labelledby="profile-tab">
          <%= form_with url: examples_find_path,
                        method: :post,
                        local: true,
                        scope: 'find' do  |f| %>
            <%= f.hidden_field :structure_id, value: s.id %>
            <div class="row mx-2 px-3">
              <div class="col-12 p-2">
                <h2>
                  <%= s.name %>
                  <%= f.submit I18n.t('main.search.search_button'),
                               class: 'btn btn-secondary' %>
                </h2>
              </div>
              <div class="col-6">
                <div class="card bg-truth">
                  <div class="card-header">
                    <h5>
                      <%= I18n.t("main.search.satisfies", default: 'Satisfies:') %>
                    </h5>
                  </div>
                  <div class="card-body">
                    <%= f.select :satisfies,
                                 options_for_select(s.properties_as_atoms
                                                     .map { |a| [a.satisfies.name, a.id] }),
                                 {},
                                 { class: 'form-control',
                                   size: s.properties.count,
                                   multiple: true } %>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card bg-falsehood">
                  <div class="card-header">
                    <h5>
                      <%= I18n.t("main.search.violates", default: 'Violates:') %>
                    </h5>
                  </div>
                  <div class="card-body">
                    <%= f.select :violates,
                                 options_for_select(s.properties_as_atoms
                                                     .map { |a| [a.satisfies.name, a.id] }),
                                 {},
                                 { class: 'form-control',
                                   size: s.properties.count,
                                   multiple: true } %>
                  </div>
                </div>
              </div>
            </div>
            <% unless s.building_blocks.empty? %>
                <% s.building_blocks.each do |bb| %>
                    <%= render partial: "building_blocks/search_properties_row",
                               locals: { bb: bb,
                                         f: f } %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
