<% provide(:title, I18n.t('main.search.title')) %>
<div class="row">
  <div class="col-2">
    <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
      <% Structure.find_each do |s| %>
        <li class="nav-item">
          <a class="nav-link <%= s == Structure.first ? 'active' : '' %>"
             id="structure-<%= s.id.to_s %>-pill"
             data-toggle="pill"
             href="#structure-<%= s.id.to_s %>"
             role="pill">
            <%= s.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-10">
    <div class="tab-content">
    <% Structure.find_each do |s| %>
      <div class="tab-pane <%= s == Structure.first ? 'active' : '' %>"
           id="structure-<%= s.id.to_s %>"
           role="tabpanel"
           aria-labelledby="profile-tab">
        <%= form_tag(examples_find_path, method: 'post') do %>
          <%= hidden_field_tag 'structure_id', s.id %>
          <div class="row border">
            <div class="col-12 p-2">
              <h2>
                <%= s.name %>
              </h2>
            </div>
            <div class="col-6 bg-truth p-2">
              <%= label_tag(:satisfies,
                            I18n.t("main.search.satisfies", default: 'Satisfies:'),
                            class: 'label') %>
              <%= select_tag(:satisfies,
                             options_for_select(s.properties.map { |p| [p.name, p.to_atom.id] }),
                             multiple: true,
                             class: 'multi-select') %>
            </div>
            <div class="col-6 bg-falsehood p-2">
              <%= label_tag(:violates,
                            I18n.t("main.search.violates", default: 'Violates:'),
                            class: 'label') %>
              <%= select_tag(:violates,
                             options_for_select(s.properties.map { |p| [p.name, p.to_atom.id] }),
                             multiple: true,
                             class: 'multi-select') %>
            </div>
            <% unless s.building_blocks.empty? %>
              <% s.building_blocks.each_slice(2) do |slice| %>
                <% slice.each do |bb| %>
                  <div class="col-6 border">
                    <%= render("building_blocks/search_properties_row", bb: bb)%>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <%= submit_tag(I18n.t('main.search.search_button'),
                         class: 'btn btn-secondary') %>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
