<%= form_with model: structure do |f| %>
	<div class="form-group">
		<%= f.label :name,
								t('structure.edit.name') %>
   	<%= f.text_field :name,
  									 class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: "btn btn-primary" %>
      <button type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
        <%= t('buttons.cancel') %>
 	   </button>
    </div>
  </div>
<% end %>