<h3 class="title is-3">
 <%= @structure.name %>
</h3>
<% if @structure.original_building_blocks.any? %>
	<h5 class="subtitle is-5">
  	Gegeben:
	</h5>
	<ul>
		<% @structure.original_building_blocks.each do |bb| %>
			<li>
				<%= bb.name %>: <%= bb.definition %>
				(<%= link_to bb.structure.name,
										 structure_path(bb.structure) %>)
			</li>
		<% end %>
	</ul>
<% end %>
<% if @structure.derives_from %>
	Ein(e) <%= @structure.name %> ist ein
	<%= link_to @structure.derives_from.name,
							structure_path(@structure.derives_from) %>,
	für den(die) gilt:
	<ul>
		<% @structure.defining_atoms.each do |a| %>
			<li>
				<%= a.to_s %>
			</li>
		<% end %>
	</ul>
<% end %>
<% unless @structure.definition.blank? %>
	<h5 class="subtitle is-5">
		Definition:
	</h5>
	<%= @structure.definition.html_safe %>
<% end %>
<h5 class="subtitle is-5">
	Mögliche Eigenschaften:
</h5>
<ul>
	<% @structure.original_properties.each do |p| %>
		<li>
			<%= p.name %>
		</li>
	<% end %>
</ul>
<% if @structure.related_structures != [@structure] %>
	<h5 class="subtitle is-5">
  	Verwandte Strukturen:
	</h5>
	<ul>
		<% (@structure.related_structures - [@structure]).each do |s| %>
			<li>
				<%= link_to s.name,
										structure_path(s) %> 
			</li>
		<% end %>
	</ul>
<% end %>