<div class="card">
	<div class="card-header">
		<h4>
 			<%= @structure.name %>
		</h4>
	</div>
	<div class="card-body">
		<% if @structure.original_building_blocks.any? %>
			<h5>
  			<%= t('examples.show.building_blocks') %>
			</h5>
			<ul>
				<% @structure.original_building_blocks.each do |bb| %>
					<li>
						<%= bb.name %>: <%= bb.definition %>
						(<%= link_to bb.structure.name,
												 structure_path(bb.structure) %>)
					</li>
				<% end %>
			</ul>
		<% end %>
		<% if @structure.derives_from %>
			<%= t('structures.show.definition_details_html',
						name: @structure.name,
						derives_from: link_to(@structure.derives_from.name,
																	structure_path(@structure.derives_from))) %>
			<ul>
				<% @structure.defining_atoms.each do |a| %>
            <%= render partial: 'atoms/show',
                       locals: { atom: a } %>
				<% end %>
			</ul>
		<% end %>
		<% unless @structure.definition.blank? %>
			<h5>
				<%= t('structures.show.definition') %>
			</h5>
			<%= @structure.definition.html_safe %>
		<% end %>
		<h5>
			<%= t('structures.show.properties') %>
		</h5>
		<ul>
			<% @structure.original_properties.each do |p| %>
				<li>
					<%= p.name %>
				</li>
			<% end %>
		</ul>
		<% if @structure.related_structures != [@structure] %>
			<h5 class="mt-2">
  			<%= t('structures.show.related_structures') %>
			</h5>
			<ul>
				<% (@structure.related_structures - [@structure]).each do |s| %>
					<li>
						<%= link_to s.name,
												structure_path(s) %> 
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>