<% modifier ||= t('logic.is') %>
<% success ||= 'truth' %>
<% implication ||= nil %>
<% proof ||= nil %>
<% example ||= nil %>
<% unless atom.property.nil? %>
  <% if implication.nil? && proof.nil? %>
    <li>
      <%= render partial: "atoms/inline_atom",
                 locals: { atom: atom,
                           modifier: modifier,
                           example: example } %>
    </li>
  <% else %>
    <p>
      <a class="button bg-<%= success %>">
        <span class="icon is-small">
          <i class="fa fa-plus-square toggle-derivation"
             data-toggle="collapse"
             href="#atomDerivation-<%= atom.id %>">
          </i>
        </span>
        <span>
          <%= render partial: "atoms/inline_atom",
                     locals: { atom: atom,
                               modifier: modifier,
                               example: @example } %>
        </span>
      </a>
      <div class="collapse"
           id="atomDerivation-<%= atom.id %>">
        <% if implication %>
          <%= render partial: 'implications/inline_message',
                     locals: { implication: implication,
                               success: success } %>
        <% elsif proof %>
          <%= render partial: 'proofs/show',
                     locals: { proof: proof,
                               success: success,
                               example: @example } %>
        <% end %>
      </div>
    </p>
  <% end %>
<% end %>
