<% modifier ||= t('logic.is') %>
<% success ||= 'truth' %>
<% implication ||= nil %>
<% unless atom.property.nil? %>
  <% if implication.nil? %>
    <li>
      <%= render partial: "atoms/inline_atom",
                 locals: { atom: atom,
                           modifier: modifier } %>
    </li>
  <% else %>
    <p>
      <a class="button bg-<%= success %>"
         id="implication-<%= implication.id %>">
        <span class="icon is-small">
          <i class="fa fa-plus-square toggle-derivation"
             data-toggle="collapse"
             href="#atomDerivation-<%= atom.id %>">
          </i>
        </span>
        <span>
          <%= render partial: "atoms/inline_atom",
                     locals: { atom: atom,
                               modifier: modifier } %>
        </span>
      </a>
      <div class="collapse"
           id="atomDerivation-<%= atom.id %>">
          <%= render partial: "implications/inline_message",
                     locals: { implication: implication,
                               success: success } %>
      </div>
    </p>
  <% end %>
<% end %>
