<div class="row p-2">
	<div class="col-4">
    <%= form_with model: @property,
                  html: { id: 'property-form' } do |f| %>
      <%= render partial: 'properties/edit/property_card',
                 locals: { property: @property,
                           f: f } %>
    <% end %>
	</div>
	<div class="col-4">
    <%= render partial: 'properties/edit/examples_card',
               locals: { sort: 'truth',
                         title: t('property.show.satisfied'),
                         property: @property,
                         hardcoded_facts: @positive_hardcoded_facts,
                         derived_examples: @positive_derived_examples,
                         modifier: t('logic.is') } %>
	</div>
	<div class="col-4">
    <%= render partial: 'properties/edit/examples_card',
               locals: { sort: 'falsehood',
                         title: t('property.show.violated'),
                         property: @property,
                         hardcoded_facts: @negative_hardcoded_facts,
                         derived_examples: @negative_derived_examples,
                         modifier: t('logic.is_not') } %>
  </div>
</div>
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'example_facts',
                     title: '' } %>
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'example',
                     title: t('example.create.title') } %>