<div class="row p-2">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h5>
					<%= t('property.show.title',
								property: @property.name) %>
					<%= link_to @property.structure.name,
											structure_path(@property.structure) %>
          <%= link_to '',
                      edit_property_path(@property),
                      class: 'far fa-edit text-dark mt-3',
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('buttons.show'),
                      style: 'text-decoration: none;' %>
				</h5>
			</div>
			<div class="card-body">
				<h5>
					<%= t('structure.show.definition') %>
				</h5>
				<% if @property.definition.present? %>
					<%= @property.definition.html_safe %>
				<% else %>
					<%= t('structure.show.no_definition_yet') %>
				<% end %>
        <div class="row mt-2">
          <div class="col-12">
            <% if @property.stackstag.present? %>
              <%= t('property.edit.stacks_tag') %>:
              <%= @property.stackstag %>
            <% end %>
          </div>
        </div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card bg-truth">
    <div class="card-header">
      <h5 class="title">
      	<%= t('structure.show.examples') %>
      	(<%= t('property.show.satisfied') %>)
      </h5>
    </div>
    <div class="card-body">
      <ul>
        <% @property.positive_examples.each do |e| %>
          <li>
            <%= link_to e.description[0..100],
                        example_path(e) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
	</div>
	<div class="col-3">
		<div class="card bg-falsehood">
    <div class="card-header">
      <h5 class="title">
      	<%= t('structure.show.examples') %>
				(<%= t('property.show.violated') %>)
      </h5>
    </div>
    <div class="card-body">
      <ul>
        <% @property.negative_examples.each do |e| %>
          <li>
            <%= link_to e.description[0..100],
                        example_path(e) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
	</div>
</div>