<div class="card propertiesCard">
  <div class="card-header">
    <h5>
      <%= t('property.show.title',
            property: property.name) %>
      <%= link_to property.structure.name,
                  structure_path(property.structure) %>
      <% unless api %>
        <%= link_to '',
                    edit_property_path(property),
                    class: 'far fa-edit text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.show'),
                    style: 'text-decoration: none;' %>
      <% end %>
    </h5>
  </div>
  <div class="card-body propertiesCardBody">
    <h5>
      <%= t('structure.show.definition') %>
    </h5>
    <% if property.definition.present? %>
      <%= property.definition.html_safe %>
    <% else %>
      <%= t('structure.show.no_definition_yet') %>
    <% end %>
    <div class="row mt-2">
      <div class="col-12">
        <% if property.stackstag.present? %>
          <%= t('property.edit.stacks_tag') %>:
          <%= property.stackstag %>
        <% end %>
      </div>
    </div>
    <% if api %>
      <h5 class="mt-3">
        <%= t('basics.related_tags') %>
        <span id="editErdbeereTags">
        </span>
      </h5>
      <div class="row">
        <div id="erdbeereTags" class="col-12"
             data-sort="Property" data-id="<%= property.id %>">
        </div>
      </div>
    <% end %>
  </div>
</div>