    <div class="row border">
      <div class="col-12 p-2">
        <h3>
          <%= bb.name %>
        </h3>
      </div>
      <div class="col-12 bg-truth p-2">
        <%= label_tag(:satisfies,
                      I18n.t("main.search.satisfies",
                             default: 'Satisfies:'),
                      class: 'label') %>
        <%= select_tag(:satisfies,
                       options_for_select(bb.structure.properties.map { |p| [p.name, p.to_atom(bb).id] }), 
                       multiple: true,
                       class: 'multi-select') %>
      </div>
      <div class="col-12 bg-falsehood p-2">
        <%= label_tag(:violates,
                      I18n.t("main.search.violates",
                             default: 'Violates:'),
                      class: 'label') %>
        <%= select_tag(:violates,
                       options_for_select(bb.structure.properties.map { |p| [p.name, p.to_atom(bb).id] }),
                       multiple: true,
                       class: 'multi-select') %>
      </div>
    </div>
