<%= bbr.building_block.name %>:
<%= link_to bbr.realization.description,
            example_path(id: bbr.realization.id) %>
<br>
<%= t('example.show.hardcoded_properties') %>:
<ul>
  <% bbr.realization.hardcoded_truths.each do |atom| %>
    <li>
      <%= render partial: 'atoms/show',
                 locals: { atom: atom,
                           example: bbr.realization } %>
    </li>
  <% end %>
  <% bbr.realization.hardcoded_falsehoods.each do |atom| %>
    <li>
      <%= render partial: 'atoms/show',
                 locals: { atom: atom,
                           modifier: t('logic.is_not'),
                           example: bbr.realization } %>
    </li>
  <% end %>
</ul>
