<% success ||= 'success' %>
<article class="alert alert-<%= success == 'truth' ? 'success' : 'danger' %> derivation"
         id="usage-of-implication-<%= implication.id %>">
  <p>
    <%= content_tag(:strong, t('implications.if')) %>
    <% (implication.atoms - [implication.atoms.last]).each do |a| %>
      <%= render partial: "atoms/inline_atom",
                 locals: { atom: a,
                           delim_open: '(',
                           delim_close: ')',
                           fullstop:'' } %>
      <%= content_tag(:strong, t('implications.and')) %>
    <% end %>
    <%= render partial: "atoms/inline_atom",
               locals: { atom: implication.atoms.last,
                         delim_open: '(',
                         delim_close: ')',
                         fullstop: '' } %>
    <%= content_tag(:strong, t('implications.then')) %>
    <%= render partial: "atoms/inline_atom",
               locals: { atom: implication.implies } %>
  </p>
</article>
