<h4>
  <%= I18n.t('example.show.title',
             example: @example.description) %>
  <%= link_to @example.structure.name,
              structure_path(@example.structure),
              class: 'text-dark' %>
  <%= link_to '',
              example_path(@example),
              class: 'fas fa-eye text-dark mt-3',
              data: { toggle: 'tooltip',
                      placement: 'bottom' },
              title: t('buttons.show'),
              style: 'text-decoration: none;' %>
</h4>
  <div class="row p-2">
    <div class="col-4">
      <%= form_with model: @example,
                    html: { id: 'example-form' } do |f| %>
      <div class="card propertiesCard mb-3">
        <div class="card-header">
        <div class="row">
        <div class="col-4">
          <h4>
            <%= I18n.t("examples.show.description",
                       default: "Description") %>
          </h4>
        </div>
        <div class="col-8 text-right">
          <div id="example-basics-warning">
            <%= t('warnings.unsaved_changes') %>
            <%= f.submit t('buttons.save'),
                         class: 'btn btn-sm btn-primary' %>
            <button type="button"
                    class="btn btn-sm btn-secondary cancel-example-edit ml-2">
              <%= t('buttons.discard') %>
            </button>
          </div>
          </div>
          </div>
        </div>
        <div class="card-body propertiesCardBody">
            <div class="form-group">
              <%= f.label :description,
                          t('example.edit.description') %>
              <%= f.text_field :description,
                               class: 'form-control' %>
            </div>
          <% unless @example.building_block_realizations.empty? %>
          <div class="row mt-3">
            <div class="col-12">
              <strong>
                <%= I18n.t("examples.show.building_blocks",
                           default: "Building Blocks") %>
              </strong>
            </div>
          </div>
          <ul>
          <% @example.building_block_realizations.each do |bbr| %>
            <li>
              <div class="form-group">
              <%= f.label "building_block_realizations[#{bbr.id}]",
                          t('example.create.building_block_realization',
                            building_block:
                              "#{bbr.building_block.name}: #{bbr.building_block.definition}") %>
              <%= f.select "building_block_realizations[#{bbr.id}]",
                           options_for_select(bbr.building_block
                                                 .structure
                                                 .examples.map { |e| [e.description, e.id]},
                                              bbr.realization.id),
                 {},
                 { class: 'form-control' } %>
              </div>
              <%= render partial: 'building_block_realizations/show',
                          locals: { bbr: bbr } %>
            </li>
          <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-4">
      <div class="card bg-truth propertiesCard mb-3">
        <div class="card-header">
          <h4>
            <%= t('example.show.satisfied_properties') %>
          </h4>
        </div>
        <div class="card-body propertiesCardBody">
          <% unless @example.hardcoded_true_facts.empty? %>
          <strong>
          <%= I18n.t("example.show.hardcoded") %>:
          </strong>
          <div class="row">
            <% @example.hardcoded_true_facts.each do |fact| %>
              <div class="col-12">
                <%= render partial: 'atoms/show',
                           locals: { atom: fact.property.to_atom,
                                     modifier: t('logic.is'),
                                     example: @example,
                                     explanations: fact.explanations,
                                     with_explanations: true,
                                     success: 'truth' } %>
              </div>
            <% end %>
          </div>
          <% end %>
          <% unless (@example.satisfied_atoms_by_sat_with_proof.first - @example.hardcoded_truths).empty? %>
              <strong>
              <%= I18n.t("example.show.derived") %>:
              </strong>
            <% @example.satisfied_atoms_by_sat_with_proof.second.each_pair do |atom, proof| %>
              <% unless @example.hardcoded_truths.include?(atom) || atom.stuff_w_props.is_a?(BuildingBlock) %>
                  <%= render partial: 'atoms/show',
                             locals: { atom: atom,
                                       modifier: t('logic.is'),
                                       proof: proof,
                                       example: @example } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card propertiesCard bg-falsehood mb-3">
        <div class="card-header">
          <h4>
            <%= t('example.show.violated_properties') %>
          </h4>
        </div>
        <div class="card-body propertiesCardBody">
          <% unless @example.hardcoded_flat_falsehoods.empty? %>
          <strong>
          <%= I18n.t("example.show.hardcoded") %>:
          </strong>
          <div class="row">
            <% @example.hardcoded_false_facts.each do |fact| %>
            <div class="col-12">
              <%= render partial: 'atoms/show',
                         locals: { atom: fact.property.to_atom,
                                   modifier: t('logic.is_not'),
                                   example: @example,
                                   explanations: fact.explanations,
                                   with_explanations: true,
                                   success: 'falsehood' } %>
            </div>
            <% end %>
          </div>
          <% end %>
          <% unless (@example.violated_atoms_by_sat_with_proof.first - @example.hardcoded_falsehoods).empty? %>
            <strong>
              <%= t("example.show.derived") %>:
            </strong>
            <%  @example.violated_atoms_by_sat_with_proof.second.each_pair do |atom, proof| %>
              <% unless @example.hardcoded_falsehoods.include?(atom) %>
                <%= render partial: 'atoms/show',
                           locals: { atom: atom,
                                     modifier: t('logic.is_not'),
                                     proof: proof,
                                     success: 'falsehood',
                                     example: @example } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
