<h4>
  <%= I18n.t('example.show.title') + ' ' + @example.description[0..100] %>
</h4>
<% cache @example do %>
  <div class="row">
    <% if @example.building_block_realizations.count == 0 %>
      <% width = 4 %>
    <% elsif @example.building_block_realizations.count == 1 %>
      <% width = 6 %>
    <% else %>
      <% width = 8 %>
    <% end %>
    <div class="col-<%= width %>">
      <div class="card mb-3">
        <div class="card-header">
          <h4>
            <%= I18n.t("examples.show.description",
                       default: "Description") %>
          </h4>
        </div>
        <div class="card-body">
          <%= @example.description %>
        </div>
      </div>
      <div class="card bg-truth mb-3">
        <div class="card-header">
          <h4>
            <%= I18n.t("examples.show.hardcoded_truths",
                       default: "Hardcoded Truths") %>
          </h4>
        </div>
        <div class="card-body">
          <ul>
            <% @example.hardcoded_flat_truths.each do |atom| %>
              <%= render partial: 'atoms/show',
                         locals: { atom: atom,
                                   modifier: t('logic.is') } %>
            <% end %>
          </ul>
        </div>
      </div>
      <% unless @example.hardcoded_flat_falsehoods.empty? %>
        <div class="card bg-falsehood mb-3">
          <div class="card-header">
            <h4>
              <%= I18n.t("examples.show.hardcoded_falsehoods",
                         default: "Hardcoded Falsehoods") %>
            </h4>
          </div>
          <div class="card-body">
            <ul id="falsehoods">
              <% @example.hardcoded_flat_falsehoods.each do |atom| %>
                <%= render partial: 'atoms/show',
                           locals: { atom: atom,
                                     modifier: t('logic.is_not') } %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% unless @example.building_block_realizations.empty? %>
        <div class="card">
          <div class="card-header">
            <h4>
              <%= I18n.t("examples.show.building_blocks",
                         default: "Building Blocks") %>
            </h4>
          </div>
          <div class="card-body">
            <% @example.building_block_realizations.each do |bbr| %>
              <div class="border p-2">
                <%= render partial: 'building_block_realizations/show',
                           locals: { bbr: bbr } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-<%= 12 - width %>">
      <% unless (@example.satisfied_atoms_with_implications.first - @example.hardcoded_truths).empty? %>
        <div class="card bg-truth">
          <div class="card-header">
            <h4>
              <%= I18n.t("examples.show.derived_truths",
                         default: "Derived truths") %>
            </h4>
          </div>
          <div class="card-body">
            <% @example.satisfied_atoms_by_sat_with_proof.second.each_pair do |atom, proof| %>
              <% unless @example.hardcoded_truths.include?(atom) || atom.stuff_w_props.is_a?(BuildingBlock) %>
                <%= render partial: 'atoms/show',
                           locals: { atom: atom,
                                     modifier: t('logic.is'),
                                     implication: nil,
                                     proof: proof } %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless (@example.violated_atoms_by_sat_with_proof.first - @example.hardcoded_falsehoods).empty? %>
        <div class="card bg-falsehood">
          <div class="card-header">
            <h4>
              <%= I18n.t("examples.show.derived_falsehoods") %>
            </h4>
          </div>
          <div class="card-body">
            <%  @example.violated_atoms_by_sat_with_proof.second.each_pair do |atom, proof| %>
              <% unless @example.hardcoded_falsehoods.include?(atom) %>
                <%= render partial: 'atoms/show',
                           locals: { atom: atom,
                                     modifier: t('logic.is_not'),
                                     implication: nil,
                                     proof: proof,
                                     success: 'falsehood' } %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
