<%= form_with url: update_example_facts_to_property_path(property),
              method: 'post',
              scope: 'example_facts' do |f|%>
  <% available_examples.each do |e| %>
    <div class="form-row">
      <div class="col-12">
        <div class="custom-control custom-checkbox mb-2">
          <%= f.check_box "examples[#{e.id}]",
                          class: 'custom-control-input' %>
          <%= f.label "examples[#{e.id}]",
                      e.description,
                      { class: 'custom-control-label' } %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-2">
    <div class="col-12">
      <strong>
        <%= t("example.create.title") %>
      </strong>
    </div>
  </div>
  <% if property.structure.building_blocks.any? %>
    <%= t('property.add_example_facts.complex_example_html',
          structure: property.structure.name,
          form: link_to(t('property.add_example_facts.structures_page'),
                        new_example_path(params:
                                           { structure_id: property.structure.id,
                                             property_id: property.id,
                                             satisfied: satisfied }),
                        remote: true)) %>
  <% else %>
    <div class="form-group">
      <%= f.label :new_example,
                  t('example.edit.description') %>
      <%= f.text_field :new_example,
                       class: 'form-control' %>
    </div>
  <% end %>
  <%= f.hidden_field :satisfied,
                     value: satisfied %>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: "btn btn-primary" %>
      <button type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
        <%= t('buttons.cancel') %>
     </button>
    </div>
  </div>
<% end %>