<div class="form-group">
  <%= f.label :name, t('structure.edit.name') %>
  <%= f.text_field :name,
                   class: 'form-control' %>
  <div class="invalid-feedback"
       id="structure-name-error">
  </div>
</div>

<% unless structure.derives_from.present? %>
  <div class="row my-2">
    <div class="col-12">
      <%= t('examples.show.building_blocks') %>

      <% unless locked %>
        <%= link_to '',
                    new_building_block_path(params:
                                              { structure_id: structure.id }),
                    class: 'fas fa-plus-circle text-dark',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.create'),
                    style: 'text-decoration: none;',
                    remote: true %>
      <% end %>

    </div>
  </div>

  <% if structure.original_building_blocks.present? %>
    <ul>
      <% structure.original_building_blocks.each do |bb| %>
        <% if bb.persisted? %>
          <li>
            <%= bb.name %>: <%= bb.definition %>
            (<%= link_to bb.structure.name,
                         edit_structure_path(bb.structure) %>)
            <%= link_to '',
                        edit_building_block_path(bb),
                        class: 'far fa-edit text-dark',
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('buttons.edit'),
                        style: 'text-decoration: none;',
                        remote: true %>
            <% unless structure.original_examples.present? %>
              <%= link_to '',
                          building_block_path(bb),
                          class: 'fas fa-trash-alt text-dark ml-2',
                          data: { toggle: 'tooltip',
                                  placement: 'bottom',
                          confirm: t('confirmation.generic') },
                          title: t('buttons.delete'),
                          style: 'text-decoration: none;',
                          remote: true,
                          method: :delete %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <% if structure.duplicate_building_blocks.any? %>
      <span class="redtext">
        <%= t('basics.warning') %>
      </span>
      <%= t('structure.edit.duplicate_building_blocks') %>
      <ul>
        <% structure.duplicate_building_blocks.each do |bb| %>
          <li>
            <%= bb.name %>: <%= bb.definition %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <%= t('building_block.edit.none') %>
  <% end %>
<% end %>

<% if structure.derives_from.present? %>
  <div class="row my-2">
    <div class="col-12">
      <%= t('structure.create.derives_from') %>:
      <%= link_to structure.derives_from.name,
                  edit_structure_path(structure.derives_from) %>

      <% if structure.derives_from.building_blocks.present? %>
        <%= t('structure.edit.parent_building_blocks') %>:
        <%= structure.derives_from.building_blocks.map(&:name).join(', ') %>
      <% end %>

    </div>
  </div>
<% end %>

<% if structure.original_building_blocks.present? ||
      structure.derives_from.present? %>
  <div class="row my-2">
    <div class="col-12">
      <%= t('structure.edit.axioms') %>

      <% unless locked %>
        <%= link_to '',
                    new_axiom_path(params: { structure_id: structure.id }),
                    class: 'fas fa-plus-circle text-dark',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.create'),
                    style: 'text-decoration: none;',
                    remote: true %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if structure.axioms.present? %>
        <ul>
          <% structure.axioms.each do |a| %>
            <li>
              <%= render partial: "atoms/inline_atom",
                         locals: { atom: a.atom,
                                   modifier: a.logic_modifier } %>

              <% unless locked %>
                <%= link_to '',
                            axiom_path(a),
                            class: 'fas fa-trash-alt text-dark ml-2',
                            data: { toggle: 'tooltip',
                                    placement: 'bottom',
                                    confirm: t('confirmation.generic') },
                            title: t('buttons.delete'),
                            style: 'text-decoration: none;',
                            remote: true,
                            method: :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= t('structure.edit.no_axioms') %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row my-2">
  <div class="col-12">
    <%= t('structure.show.definition') %>
  </div>
</div>

<%= f.trix_editor :definition,
                  class: 'bg-light',
                  id: 'structure-definition-trix',
                  data: { content: structure.definition } %>

<div class="row my-2">
  <div class="col-12">
    <%= t('basics.preview') %>
  </div>
</div>

<div class="alert alert-dark mt-2"
     id="structure-definition-preview">
  <%= raw(structure.definition) %>
</div>

<% if structure.related_structures != [structure] %>
  <h5 class="mt-2">
    <%= t('structure.show.related_structures') %>
  </h5>
  <ul>
    <% (structure.related_structures - [structure]).each do |s| %>
      <li>
        <%= link_to s.name,
                    structure_path(s) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless locked %>
  <div class="row mt-3">
    <div class="col-12 mt-3 text-center">
      <%= link_to t('structure.edit.delete'),
                  structure_path(structure),
                  class: 'btn btn-danger',
                  method: :delete,
                  data: { confirm: t('confirmation.generic') } %>
    </div>
  </div>
<% end %>